<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSS3Helper" version="1.6.0" targetFramework="net451" />
  <package id="AWSSDK" version="2.3.38.0" targetFramework="net451" />
  <package id="BigDataPipeline.Interface" version="1.8.6" targetFramework="net451" />
  <package id="Dapper" version="1.42" targetFramework="net451" />
  <package id="ncrontab" version="2.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Npgsql" version="2.0.14.3" targetFramework="net45" />
  <package id="SimpleHelpers.MemoryCache" version="1.1.1" targetFramework="net451" />
  <package id="SimpleHelpers.NamedLock" version="1.0.4" targetFramework="net451" />
</packages>