<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSS3Helper" version="1.6.0" targetFramework="net45" />
  <package id="AWSSDK" version="2.3.23.0" targetFramework="net45" />
  <package id="BigDataPipeline.Interface" version="1.8.5" targetFramework="net45" />
  <package id="ncrontab" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net45" />
  <package id="System.Net.FtpClient" version="1.0.5281.14359" targetFramework="net45" />
</packages>